{% extends "index.html" %}
{% block body %}

<form action="" method="POST">
    <table>
        <tr>
            <td>{{ word('user', session['lang'])}}</td>
            <td>:</td>
            <td><input type="text" name="user"/></td>
        </tr>
        <tr>
            <td>{{ word('name', session['lang'])}}</td>
            <td>:</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td>{{ word('password', session['lang'])}}</td>
            <td>:</td>
            <td><input type="password" name="pass"/></td>
        </tr>
        <tr>
                <td>{{ word('area', session['lang'])}}</td>
                <td>:</td>
                <td>
                    <select name="area">
                        {% for a in areas %}
                            <option>{{a}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        <tr>
            <td>ID</td>
            <td>:</td>
            <td><input type="text" name="id"/></td>
        </tr>
        <tr>
            <td>{{ word('email', session['lang']) }}</td>
            <td>:</td>
            <td><input type="text" name="email"/></td>
        </tr>
        <tr>
            <td>{{ word('address', session['lang']) }}</td>
            <td>:</td>
            <td><input type="text" name="address"/></td>
        </tr>
        <tr>
            <td>{{ word('phone', session['lang']) }}</td>
            <td>:</td>
            <td><input type="text" name="phone" value="NULL"/></td>
        </tr>
        <tr>
            <td>{{ word('notes', session['lang']) }}</td>
            <td>:</td>
            <td><input type="text" name="notes"/></td>
        </tr>
        <tr>
            <td>{{ word('group', session['lang']) }}</td>
            <td>:</td>
            <td>
                <select name="group">
                    {% for g in group %}
                        <option>{{g}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>{{ word('authorized', session['lang']) }}</td>
            <td>:</td>
            <td><input type="text" name="authorized"/></td>
        </tr>
        <tr>
            <td>Rol</td>
            <td>:</td>
            <td>
                <select name="roles">
                    {% for r in roles %}
                        <option>{{r}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="{{ word('create', session['lang']) }}">
            </td>
        </tr>
    </table>
</form>

{% endblock %}