<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://purl.org/kid/ns#"
    py:extends="sitetemplate">

    <head py:match="item.tag=='{http://www.w3.org/1999/xhtml}head'" py:attrs="item.items()">
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
        <title py:replace="''">{{ word('app_name', session['lang']) }}</title>
        <meta py:replace="item[:]" name="description" content="master template"/>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <script src="{{ url_for('static', filename='js/onlynumber.js') }}"></script>
        <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
        <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/telephone.png') }}"/>
        <script>
        function setFocus() {
            if (defaultInput) {
                document.getElementById(defaultInput).focus();
            }
        }
        </script>
    </head>

    <body py:match="item.tag=='{http://www.w3.org/1999/xhtml}body'" py:attrs="item.items() + [('onload','setFocus();')]">
        <nav class="navbar navbar-primary bg-primary">
            <div class="form-inline">
                <form action="{{ url_for('index', user=session['user'], group=session['group'], page=1) }}">
                    <button type="submit" class="btn btn-primary">{{word('home', session['lang'])}}</button>
                </form>
                <form action="{{ url_for('profile', user=session['user']) }}">
                    <button type="submit" class="btn btn-primary">{{ word('profile', session['lang']) }}</button>
                </form>
                {% if not session['roles']['is_default'] %}
                <form action="{{ url_for('search_none', category='name')}}">
                    <button type="submit" class="btn btn-primary">{{ word('search_by', session['lang']) }}</button>
                </form>
                {% if session['roles']['is_root'] %}
                <form action="{{ url_for('create_user') }}">
                    <button type="submit" class="btn btn-primary">{{ word('create', session['lang']) }}</button>
                </form>
                {% endif %}
                {% if session['roles']['is_root'] or session['roles']['is_dean'] or session['roles']['is_ddi'] %}
                <form action="{{ url_for('pending', page=1) }}">
                    <button type="submit" class="btn btn-primary">{{ word('pendings', session['lang']) }}</button>
                </form>
                {% endif %}
                {% endif %}                            
            </div>
            <form action="{{ url_for('logout') }}">
                <button type="submit" class="btn btn-primary">{{ word('exit', session['lang']) }}</button>
            </form>
        </nav>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div id="messages" class="alert alert-{{ category }} alert-dismissible" role="alert" style="background-color:lightblue">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="hide()"><span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% block body %}{% endblock %}  
    </body>

</html>