<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://purl.org/kid/ns#"
    py:extends="sitetemplate">

    <head py:match="item.tag=='{http://www.w3.org/1999/xhtml}head'" py:attrs="item.items()">
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
        <title py:replace="''">{{ word('app_name', session['lang']) }}</title>
        <meta py:replace="item[:]" name="description" content="master template"/>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <script>
        function setFocus() {
            if (defaultInput) {
                document.getElementById(defaultInput).focus();
            }
        }
        </script>
    </head>

    <body py:match="item.tag=='{http://www.w3.org/1999/xhtml}body'" py:attrs="item.items() + [('onload','setFocus();')]">
        <div class="menu" style="float:left;">
            <ul id="menu">
                <li>
                    <a href="{{ url_for('index') }}">{{word('home', session['lang'])}}</a> |
                </li>
                <li>
                    <a href="{{ url_for('profile', user=session['user']) }}">{{ word('profile', session['lang']) }}...</a> |
                </li>
                {% if not session['roles']['is_default'] %}
                    <li>
                        <a href="{{ url_for('search') }}">{{ word('search_by_name', session['lang']) }}...</a> |
                    </li>
                    {% if session['roles']['is_root'] %}
                        <li>
                            <a href="{{ url_for('start') }}">{{ word('create', session['lang']) }}...</a> |
                        </li>
                        <li>
                            <a href="{{ url_for('start') }}">{{ word('pendings', session['lang'])}}</a>
                        </li>
                    {% endif %}                    
                {% endif %}
            </ul>
    </div>

        <div class="menu" style="float:right;">
            <ul>
                <li>
                    | <a href="{{ url_for('start') }}">{{ word('exit', session['lang']) }}</a>
                </li>
            </ul>
        </div>

        <div style="float:none; clear:both; width:100%; border-bottom:1px solid #7F9DB9;"></div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert" style="background-color:lightblue">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}  
    </body>

</html>