{% extends "index.html" %}
{% block body %}

<div class="container">
    <table class="table table-striped">
        <thead>
            <td scope="col">{{ word('phone', session['lang']) }}</td>
            <td scope="col">{{ word('comment', session['lang'])}}</td>
        </thead>
        {% for (phone, desc) in data %}
            <tr>
                <td>{{ phone }}</td>
                <td>{{ desc }}</td>
                <td>
                    <form action="{{ url_for('delete_local_phone', phone=phone, desc=desc) }}">
                        <button type="submit" class="btn btn-danger btn-sm">
                            {{ word('force', session['lang']) }}
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form action="" method="POST">
                <td>
                    <input type="text" name="phone" class="form-control input-sm" placeholder="{{ word('phone', session['lang']) }}" autocomplete="off"/>
                </td>
                <td>
                    <input type="text" name="desc" class="form-control input-sm" placeholder="{{ word('comment', session['lang']) }}" autocomplete="off"/>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary btn-sm">
                        {{ word('confirm', session['lang']) }}
                    </button>
                </td>
            </form>
        </tr>
    </table>
</div>


{% endblock %}