<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <center>
                <h3> Planilla de solicitud de acceso telefónico </h3>
        </center>
        <div class="container">
                <p>
                    Por este medio garantizo que conozco la existencia de la Resolución
                    127/2007 del Ministerio de la Informática y las Comunicaciones y
                    que en particular he leído con atención los artículos:<br />
                    ARTíCULO 11: Los usuarios de las tecnologías de la información
                    asumen en primera instancia la responsabilidad de las
                    consecuencias que se deriven de la utilización impropia de las
                    mismas.<br />
                    ARTíCULO 45: En los sistemas en que es posible el acceso por
                    múltiples usuarios se dispondrá para cada uno de ellos de un
                    identificador de usuario personal y único. Las personas a las que se
                    asignen identificadores de usuarios responden por las acciones que
                    con ellos se realicen.<br />
                    ARTíCULO 47: Para la utilización de contraseñas como método de
                    autenticación de usuarios, se cumplirán los siguientes requisitos:<br />
                    a) Serán privadas e intransferibles.<br />
                    b) Su estructura, fortalez y frecuencia de cambio estarán en
                    correspondencia con el riesgo estimado para el acceso que
                    protegen.<br />
                    c) Combinarán en todos los casos letras y números sin un significado
                    evidente, con una longitud mínima de 6 caracteres.<br />
                    d) No pueden ser visualizadas en pantallas mientras se teclean.<br />
                    e) No pueden ser almacenadas en texto claro (sin cifrar) en ningún
                    tipo de tecnologías de la información.<br />
                    ARTíCULO 65: Los usuarios deben conocer las políticas de seguridad
                    para las computadoras y redes a que ellos acceden y están en la
                    obligación de cumplir estas políticas.<br />
                    Qué al firmar el presente documento me comprometo a cumplir
                    con todo lo establecido en la mencionada resolución 127/2007 del
                    MIC.
                </p>
        </div>
        <div class="container">
            <h4>Datos del solicitante</h4>
            <div style="display: flex">
                <p style="font-weight:bold">Nombre y Apellidos:</p><p> {{name}} </p>
            </div>
            <div style="display: flex">
                <p style="font-weight:bold">Carnet de Identidad:</p><p> {{dni}}</p>
            </div>
            <div style="display: flex">
                <p style="font-weight:bold">Categoría D/I:</p><p></p>
            </div>
            <div style="display: flex">
                <p style="font-weight:bold">Grado Científico:</p><p></p>
            </div>
            <div style="display: flex">
                <p style="font-weight:bold">Teléfono:</p><p> {{phone}}</p>
            </div>
            <div style="display: flex">
                <p style="font-weight:bold">Nombre de usuario:</p><p> {{user}} </p>
            </div>
            <div style="display: flex">
                <p style="font-weight:bold">Correo Electrónico:</p><p> {{e_mail}} </p>
            </div>
        </div>
        <div class="container" style="position: relative; top:10px;">
            <p style="font-weight:bold">Autorizado por:</p>
        </div>
    </body>
    <footer>
        <p style="position:relative; top:500%;">Dirección Docente De Informatización | Universidad de la Habana | {{year}}</p>
    </footer>
</html>