{% extends "index.html" %}
{% block body %}

<table class="table">
    <tr>
        {% for h in headers %}
            <td class="td header", colspan="{{len(h)}}">{{h}}</td>
        {% endfor %}
    </tr>
    {% for row in data %}
        <tr>
            <td class="data" colspan="{{len(headers[0])}}"> {{row[0]}} </td>
            <td class="data" colspan="{{len(headers[1])}})"> {{row[1]}} </td>
            <td class="data" colspan="{{len(headers[2])}})"> {{row[3]}} </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}