{% extends "index.html" %}
{% block body %}

    <table class="table table-striped">
        <thead>
            <td scope="col">ID</td>
            {% for h in headers %}
                <td scope="col">{{ word(h, session['lang']) }}</td>
            {% endfor %}
        </thead>
        <tbody>
        {% for i, row in enumerate(data) %}
            {% if in_page(i) %}            
            <tr>
                <td scope="row"> {{i + 1}} </td>
                <td> {{row[0]}} </td>
                <td> {{row[1]}} </td>
                <td> {{row[3]}} </td>
                <td> {{row[4]}} </td>
                <td> {{row[5]}} </td>
                <td> {{row[6]}} </td>
                <td> {{row[7]}} </td>
                <td> {{clean_date(row[8])}} </td>
                {% if not flags[i] and session['roles']['is_ddi'] %}
                    <form action="{{ url_for('authorize', username=row[0], dni=row[4], author=session['user'], action='ddi') }}" method="GET">
                        <td>
                            <button type="submit" class="btn btn-success btn-sm">
                                {{ word('confirm', session['lang']) }}
                            </button>
                        </td>
                    </form>
                {% endif %}
                {% flags[i] and if session['roles']['is_dean'] %}
                    <form action="{{ url_for('authorize', username=row[0], dni=row[4], author=session['user'], action='dean') }}" method="GET">
                        <td>
                            <button id="auth_button" type="submit" class="btn btn-success btn-sm" onclick="disable()">
                                {{ word('authorize', session['lang']) }}
                            </button>
                        </td>
                    </form>
                {% endif %}
                {% if session['roles']['is_dean'] %}
                    <form action="{{ url_for('render_pdf', username=row[0], name=row[1], dni=row[4], phone=row[7], e_mail=row[5])}}" method="GET">
                        <td>
                            <button type="submit" class="btn btn-dark btn-sm">
                                {{ word('doc', session['lang']) }}
                            </button>
                        </td>
                    </form>
                {% endif %}
                <form action="{{ url_for('dismiss', username=row[0])}}" method="GET">
                        <td>
                            <button type="submit" class="btn btn-danger btn-sm">
                                {{ word('force', session['lang'])}}
                            </button>
                        </td>
                </form>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% if len(data) > 0 %}
    <h3>{{ word('results', session['lang']) }}: {{ word('page', session['lang']) }} {{current}}/{{total}} ({{len(data)}} total)</h3>
    <div class="form-inline">
            {% if current != 1 %}
                <form action="{{ url_for('pending', page=1) }}" method="GET">
                    <button type="submit" class="btn btn-secondary">
                        {{ word('first', session['lang']) }}
                    </button>
                </form>
            {% endif %}    
            {% if current > 1 %}
                <form action="{{ url_for('pending', page=current - 1) }}" method="GET">
                    <button type="submit" class="btn btn-secondary">
                        {{ word('prev', session['lang']) }}
                    </button>
                </form>
            {% endif %}
            {% if current < total %}
                <form action="{{ url_for('pending', page=current + 1) }}" method="GET">
                    <button type="submit" class="btn btn-secondary">
                        {{ word('next', session['lang']) }}
                    </button>
                </form>
            {% endif %}
            {% if current != total %}
                <form action="{{ url_for('pending', page=total) }}" method="GET">
                    <button type="submit" class="btn btn-secondary">
                        {{ word('last', session['lang']) }}
                    </button>
                </form>
            {% endif %}
        </div>
    {% endif %}

    {% if len(data) == 0 %}
    <h3>{{ word('no_results', session['lang']) }}</h3>
    {% endif %}
{% endblock %}