{% extends "index.html" %}
{% block body %}

<div id="info">
<table class="block">
    <h3>{{ word('general', session['lang']) }}</h3>
    <tr>
        <td>{{ word('user', session['lang']) }}</td>
        <td>:</td>
        <td>{{ data[0]}}</td>
    </tr>
    <form action="" method="POST">
        <tr>
            <td>{{ word('name', session['lang']) }}</td>
            <td>:</td>
            <td>
                {% if not flags['is_mod_name'] %}
                    {{ data[1] }}
                {% endif %}
                {% if flags['is_mod_name'] %}
                    <input type="text" value="{{ data[1] }}" name="name" autocomplete="off"/>
                {% endif %}
            </td>
            <td>
                {% if session['roles']['is_root'] or session['roles']['is_ddi'] %}
                    <input type="submit" value="{{ word('change', session['lang']) }} {{ word('name', session['lang']) }}" name="button_name">
                {% endif %}
            </td>
        </tr>
    </form>
    <tr>
        <td>{{ word('area', session['lang'])}}</td>
        <td>:</td>
        <td>{{ data[2] }}</td>
    </tr>
    <tr>
        <td>{{ word('email', session['lang'])}}</td>
        <td>:</td>
        <td>{{ data[3] }}</td>
    </tr>
    <form action="" method="POST">
        <tr>
            <td>{{ word('address', session['lang'])}}</td>
            <td>:</td>
            <td>
                {% if not flags['is_mod_addr'] %}
                    {{ data[4] }}
                {% endif %}
                {% if flags['is_mod_addr'] %}
                    <input type="text" value="{{ data[4] }}" name="addr" autocomplete="off"/>
                {% endif %}
            </td>
            <td>
                {% if session['roles']['is_root'] or session['roles']['is_ddi'] %}
                    <input type="submit" value="{{ word('change', session['lang']) }} {{ word('address', session['lang']) }}" name="button_addr">
                {% endif %}
            </td>
        </tr>
    </form>
    <form action="" method="POST">
        <tr>
            <td>{{ word('phone', session['lang']) }} </td>
            <td>:</td>
            <td>
                {% if not flags['is_mod_phone'] %}
                    {{ data[5] }}
                {% endif %}
                {% if flags['is_mod_phone'] %}
                    <input type="text" value="{{ data[5] }}" name="phone" autocomplete="off"/>
                {% endif %}
            </td>
            <td>
                {% if session['roles']['is_root'] or session['roles']['is_ddi'] %}
                    <input type="submit" value="{{ word('change', session['lang']) }} {{ word('phone', session['lang']) }}" name="button_phone">
                {% endif %}
            </td>
        </tr>
    </form>
    <form action="" method="POST">
        <tr>
            <td>DNI</td>
            <td>:</td>
            <td>
                {% if not flags['is_mod_carne'] %}
                    {{ data[6] }}
                {% endif %}
                {% if flags['is_mod_carne'] %}
                    <input type="text" value="{{ data[6] }}" name="carne" autocomplete="off"/>
                {% endif %}
            </td>
            <td>
                {% if session['roles']['is_root'] or session['roles']['is_ddi'] %}
                    <input type="submit" value="{{ word('change', session['lang']) }} DNI" name="button_carne">
                {% endif %}
            </td>
        </tr>
    </form>
{% if session['roles']['is_root'] %}
    <form action="" method="POST">
        <tr>
            <td>Rol</td>
            <td>:</td>
            <td>{{ rol }}</td>
            <td>
                <select name=rol>
                    {% for x in roles %}
                        <option>{{x}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="{{ word('change', session['lang']) }} Rol">
            </td>
        </tr>
    </form>
{% endif %}
</table>

<table class="block">
    <h3>{{ word('func', session['lang']) }}</h3>
{% if session['roles']['is_root'] or session['roles']['is_admin'] or session['roles']['is_ddi'] %}
    <form action="{{ url_for('index', user=user, group=group, page=1) }}" method="GET">
        <tr>
            <td>
                <input type="submit" value="{{ word('more_details', session['lang']) }}">
            </td>
        </tr>
    </form>
{% endif %}

{% if is_modifyer %}
    {% if not mod_pwd %}
    <tr>
        <td>
            <form action="" method="POST">
                <input type="submit" value="{{ word('modify', session['lang']) }}">
            </form>
        </td>
    </tr>
    {% endif %}
{% endif %}
    {% if mod_pwd %}
        <form action="" method="POST">
            <tr>
                <td>
                    {{ word('password', session['lang']) }}                  
                </td>
                <td>
                    <input type="password" name="old_password">
                </td>
            </tr>
            <tr>
                <td>
                    {{ word('new', session['lang']) }} {{ word('password', session['lang']) }}
                </td>
                <td>
                    <input type="password" name="new_password">
                </td>
            </tr>
            <tr>
                <td>
                    {{ word('verify', session['lang']) }} {{ word('password', session['lang'])}}
                </td>
                <td>
                    <input type="password" name="verify_password">
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="{{ word('modify', session['lang']) }}"></td>
            </tr>
        </form>
    {% endif %}
</table>

{% if session['roles']['is_root'] or session['roles']['is_ddi'] %}
<table class="block">
    <h3>{{ word('func_star', session['lang']) }}</h3>
    <form action="" method="POST">
        <tr>
            <td>
                <input type="submit" value="{{ word('bonus', session['lang']) }}">
            </td>
            <td>
                <input type="text" value="0" autocomplete="off" name="bonus"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" autocomplete="off" name="comment">
            </td>
            <td>
                <input type="date" name="until">
            </td>
        </tr>
    </form>
</table>
{% endif %}
</div>
{% endblock %}