{% extends "index.html" %}
{% block body %}

<table>
    <tr>
        <td>{{ word('user', session['lang']) }}</td>
        <td>:</td>
        <td>{{ data[0]}}</td>
    </tr>
    <tr>
        <td>{{ word('name', session['lang']) }}</td>
        <td>:</td>
        <td>{{ data[1] }}</td>
    </tr>
    <tr>
        <td>{{ word('area', session['lang'])}}</td>
        <td>:</td>
        <td>{{ data[2] }}</td>
    </tr>
    <tr>
        <td>{{ word('email', session['lang'])}}</td>
        <td>:</td>
        <td>{{ data[3] }}</td>
    </tr>
    <tr>
        <td>{{ word('address', session['lang'])}}</td>
        <td>:</td>
        <td>{{ data[4] }}</td>
    </tr>
    <tr>
        <td>{{ word('phone', session['lang']) }} </td>
        <td>:</td>
        <td>{{ data[5] }} </td>
    </tr>

    <tr>
        <td>ID</td>
        <td>:</td>
        <td>{{ data[6] }}</td>
    </tr>
{% if is_modifyer %}
    {% if not mod_pwd %}
    <tr>
        <td>
            <form action="" method="POST">
                <input type="submit" value="{{ word('modify', session['lang']) }}">
            </form>
        </td>
    </tr>
    {% endif %}
{% endif %}
    {% if mod_pwd %}
        <form action="" method="POST">
            <tr>
                <td>
                    {{ word('password', session['lang']) }}                  
                </td>
                <td></td>
                <td>
                    <input type="password" name="old_password">
                </td>
            </tr>
            <tr>
                <td>
                    {{ word('new', session['lang']) }} {{ word('password', session['lang']) }}
                </td>
                <td></td>
                <td>
                    <input type="password" name="new_password">
                </td>
            </tr>
            <tr>
                <td>
                    {{ word('verify', session['lang']) }} {{ word('password', session['lang'])}}
                </td>
                <td></td>
                <td>
                    <input type="password" name="verify_password">
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="{{ word('modify', session['lang']) }}"></td>
            </tr>
        </form>
    {% endif %}
</table>

{% endblock %}