<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://purl.org/kid/ns#">
<head>
    <meta content="text/html; charset=UTF-8"
        http-equiv="content-type" py:replace="''"/>
    <title>{{ word('ask', session['lang'])}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/onlynumber.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/telephone.png') }}"/>
</head>

<section id="main">
    <nav class="navbar navbar-primary bg-primary">
        <form action="{{url_for('start')}}" class="navbar-brand"><button type="submit" class="btn btn-primary"> {{ word('app_name', session['lang']) }} </button> </form>
        <div class="form-inline">
            <form action="{{url_for('start')}}" method="POST"><button type="submit" class="btn btn-primary" name="language" value="es">es</button></form>
            <form action="{{url_for('start')}}" method="POST"><button type="submit" class="btn btn-primary" name="language" value="en">en</button></form>                    
            <form action="{{url_for('start')}}" method="POST"><button type="submit" class="btn btn-primary" name="language" value="ca">ca</button></form>                    
        </div>
    </nav>
    <section id="data" style="position: relative; top: 80px">
        <div class="container" style="width: 50%">
            <center>
                <div class="container" style="width: 50%">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                        <div id="messages" class="alert alert-{{ category }} alert-dismissible" role="alert" style="background-color:lightblue">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="hide()"><span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <form action="" method="POST" name="login">
                        <div class="form-inline">
                            <div class="form-group fg-line">
                                <input type="text" name="user" class="form-control input-sm" placeholder="{{word('user', session['lang'])}}" autocomplete="off"/>
                            </div>
                            <div class="form-group fg-line" style="position: relative;right: 50px">
                                <input type="password" name="password" class="form-control input-sm" placeholder="{{ word('password', session['lang'])}}"/>
                            </div>
                        </div>
                        <div class="form-inline" style="position: relative; top:10px">
                            <div class="form-group fg-line">
                                <input type="text" name="phone" class="form-control input-sm" placeholder="{{ word('phone', session['lang'])}}" onkeypress="return isNumberKey(event)" autocomplete="off"/>
                            </div>                            
                            <div class="form-group fg-line" style="position: relative; right: 50px">
                                <input type="password" name="confirm" class="form-control input-sm" placeholder="{{ word('verify', session['lang'])}} {{word('password', session['lang'])}}"/>
                            </div>
                        </div>
                        <div class="form-group fg-line">
                            <input type="text" name="email" class="form-control input-sm" placeholder="{{ word('email', session['lang'])}}" autocomplete="off"/>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            {{ word('ask', session['lang'])}}
                        </button>
                    </form>
                </div>
            </center>
        </div>
    </section>
</section>
</html>