{% extends "index.html" %}
{% block body %}

<div class="block block-details">
    <div style="padding-left:13px;">
        {% if self_data %}
            <h3>{{ word('welcome', session['lang']) }} {{session['user']}}</h3>
        {% endif %}
        {% if not self_data %}
        <form action="{{ url_for('profile', user=user) }}">
            <button type="submit" class="btn btn-success btn-sm">
                {{ word('profile', session['lang']) }}: {{user}}
            </button>
        </form>
        {% endif %}
    </div>
    <div style="padding-left:13px;">
        {{ '{0}: {1} ({2} + {3})'.format(word('quota', session['lang']),
        seconds_to_time(session['quota']['total']),
        seconds_to_time(session['quota']['value']),
        seconds_to_time(session['quota']['bonus'])) }}
    </div>
    <div class="form-inline" style="position: relative; left: 5px">
        <div class="progress" style="width: 50%">
            <div class="progress-bar" role="progressbar" style="width: {{regular}}%" aria-valuenow="{{regular}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div style="padding-left: 13px; font-weight : bold; font-size : 12pt; color : black;">
            {{'%.2f' % regular}} %
        </div>
    </div>
    <div style="clear:both;padding-left:13px;">
        {{ word('quota_consumed', session['lang']) }}: {{seconds_to_time(session['consumed'])}}
    </div>
    <div style="padding-left:13px;">
        {{ word('remain', session['lang']) }}: {{seconds_to_time(session['quota']['total'] - session['consumed'])}}
    </div>
</div>
{% if session['quota']['roaming'] > 1 %}
<div class="block block-details">
    <div style="padding-left:13px;">
        <h3>Roaming</h3>
    </div>
    <div style="padding-left:13px;">
        {{ '{0}: {1}'.format(word('quota', session['lang']),
        seconds_to_time(session['quota']['roaming'])) }}
    </div>
    <div class="form-inline" style="position: relative; left: 5px">
        <div class="progress" style="width: 50%">
            <div class="progress-bar" role="progressbar" style="width: {{roaming}}%" aria-valuenow="{{roaming}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div style="padding-left: 13px; font-weight : bold; font-size : 12pt; color : black;">
            {{'%.2f' % roaming}} %
        </div>
    </div>
    <div style="clear:both;padding-left:13px;">
        {{ word('quota_consumed', session['lang']) }}: {{seconds_to_time(session['roaming'])}}
    </div>
    <div style="padding-left:13px;">
        {{ word('remain', session['lang']) }}: {{seconds_to_time(session['quota']['roaming'] - session['roaming'])}}
    </div>
</div>
{% endif %}

<div class="container" style="float: left">
    <form action="" method="POST">
        <select name="month">
            {% for (y, m) in months %}
                <option>{{get_month(m)}} {{y}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-secondary btn-sm">
            {{ word('change', session['lang']) }}
        </button>
    </form>
    {% if session['roles']['is_root'] or session['roles']['is_ddi'] %}
        {% if len(data) > 0 %}
            <h3>Bonus</h3>
            <table class="table table-striped">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Bonus</th>
                    <th scope="col">{{ word('comment', session['lang']) }}</th>
                    <th scope="col">{{ word('expires', session['lang']) }}</th>
                </thead>
                <tbody>
                {% for (i, (bonus, comment, expires)) in enumerate(data) %}
                    <tr>
                        <th scope="row">{{i + 1}}</th>
                        <td> {{bonus // 3600}}</td>
                        <td> {{comment}} </td>
                        <td> {{clean_date(expires)}} </td>
                    </tr>     
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
    <form action="" method="POST">
        <button type="submit" class="btn btn-primary">
            {{ word('less_details', session['lang']) if showing_details else word('more_details', session['lang'])}}
        </button>
    </form>
    {% if showing_details %}
        {% if len(session['details']) > 0 %}
            <h3> {{ word('logs', session['lang']) }}</h3>
            <table class="table table-striped">
                <thead>
                    {% for h in session['headers'] %}
                        <th scope="col">{{h}}</td>
                    {% endfor %}
                </thead>
                <tbody>
                {% for (i, (info_start, phone, stt, stp, consumed)) in enumerate(session['details']) %}
                    {% if in_page(i) %}
                    <tr>
                        <td> {{info_start}} </td>
                        <td> {{phone}} </td>
                        <td> {{stt}} </td>
                        <td> {{stp}} </td>
                        <td> {{seconds_to_time(consumed)}} </td>
                    </tr>
                    {% endif %}        
                {% endfor %}
                </tbody>
            </table>

            <h3>{{ word('results', session['lang']) }}: {{ word('page', session['lang']) }} {{current}}/{{total}} ({{len(session['details'])}} total)</h3>
            <div class="form-inline">
                {% if current != 1 %}
                    <form action="{{ url_for('index', user=user, group=group, page=1, month=mth, year=yr) }}" method="GET">
                        <button type="submit" class="btn btn-secondary">
                            {{ word('first', session['lang']) }}
                        </button>
                    </form>
                {% endif %}    
                {% if current > 1 %}
                    <form action="{{ url_for('index', user=user, group=group, page=current - 1, month=mth, year=yr) }}" method="GET">
                        <button type="submit" class="btn btn-secondary">
                            {{ word('prev', session['lang']) }}
                        </button>
                    </form>
                {% endif %}
                {% if current < total %}
                    <form action="{{ url_for('index', user=user, group=group, page=current + 1, month=mth, year=yr) }}" method="GET">
                        <button type="submit" class="btn btn-secondary">
                            {{ word('next', session['lang']) }}
                        </button>
                    </form>
                {% endif %}
                {% if current != total %}
                    <form action="{{ url_for('index', user=user, group=group, page=total, month=mth, year=yr) }}" method="GET">
                        <button type="submit" class="btn btn-secondary">
                            {{ word('last', session['lang']) }}
                        </button>
                    </form>
                {% endif %}
            </div>
        {% endif %}

        {% if len(session['details']) == 0 %}
            <h3>{{ word('no_results', session['lang']) }}</h3>
        {% endif %}

    {% endif %}
</div>

{% endblock %}