{% extends "index.html" %}
{% block body %}

<div class="block block-details">
    <div style="padding-left:13px;">
        {{ 'Cuota: {0} ({1} + {2})'.format(seconds_to_time(session['quota']['total']),
        seconds_to_time(session['quota']['value']), seconds_to_time(session['quota']['bonus'])) }}
    </div>
    <div style="float:left;margin-left:13px; margin-right:5px; height: 18px; width: 700px; border:1px solid #194373;">
        <div style="height:18px; width: {{(7 * percent)}}px; background-color:#4780C2;"/>
    </div>
    <div style="padding-left:10px; font-weight : bold; font-size : 12pt; color : black;">
        {{'%.2f' % percent}} %
    </div>
    <div style="clear:both;padding-left:13px;">
        Consumo de la cuota: {{seconds_to_time(session['consumed'])}}
    </div>
    <div style="padding-left:13px;">
        Tiempo restante: {{seconds_to_time(session['quota']['total'] - session['consumed'])}}
    </div>
</div>

{% endblock %}